* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position:fixed;
    z-index:10;
    background-color: #fff;
    width: 100%;
}

.header-nav {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1170px;
    margin: 0px auto 0px auto;
}

.header-nav-block {
    padding: 24px 0px 21px 0px;
}

.header-nav-block>a {
    color: #282828;
}

.header-nav-block>a:hover {
    padding-bottom: 7px;
    border-bottom: 1px solid #96af2c;
}

.header-nav-contacts {
    display: flex;
    flex-direction: column;
}

.header-nav-contacts-number {
    display: flex;
    font-size: 14px;
    align-items:center;

}

.header-nav-contacts-telephone {
    display: flex;
    justify-content: space-around;
}

.header-nav-contacts-telephone-lang>p {
    margin: 0;
}

.header-nav-contacts-telephone-lang {
    display: flex;
    align-items: center;
}

.header-nav-contacts-telephone-lang>img {
    width: 19px;
    height: 12px;
    margin: 0px 8px 0px 5px;
}

.hide-language {
    display: none;
}

.opt1 {
    background: url(../img/russian.png);
}

.language {
    margin: 0px auto;
    width: 1170px;
    display: flex;
    justify-content: flex-end;
}

.language-block {
    width: 90px;
    height: 120px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.language-block-items {
    display: flex;
}

.language-block-items>p {
    margin: 0;
    padding-right: 4px;
}

.main-background {
    background: url(../img/main-img.png) no-repeat;
    width: 100%;
    height: 802px;
}

.main-background-fff {
    background: url(../img/main-img.png) no-repeat;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-logo {
    background: url(../img/main-white.png) no-repeat;
    width: 598px;
    height: 140px;
    opacity: 0.9;
    margin: 0px auto 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-text {
    /* Style for "Качество н" */
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 20px;
    font-weight: 400;
    background: url(../img/main-oli.png) no-repeat;
    margin: 0px auto 0px auto;
    width: 582px;
    height: 47px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slick-track {
    height: 100%;
}

.slider {
    height: 100%;
    width: 100%;
}

.item {
    background: url(../img/main-home-1.jpg) no-repeat;
    height: 800px;
    width: 100%;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.item-two {
    background:url(../img/main-home-2.jpg) no-repeat;
    height: 800px;
    width: 100%;
}
.item-three {
    background:url(../img/main-home-3.jpg) no-repeat;
    height: 800px;
    width: 100%;
}
.item-four {
    background:url(../img/main-home-4.jpg) no-repeat;
    height: 800px;
    width: 100%;
}

.background-main-logo {
    background: url(../img/main-white.png) no-repeat;
    width: 598px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.item-column {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.slick-dots {
    margin-bottom: 62px;
}

.slick-next {
    background: #000;
}

.slider-slicker {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 15%;
}

.l-arrow {
    position: absolute;
    top: 50%;
    z-index: 1;
    left: 2%;
}

.r-arrow {
    position: absolute;
    top: 50%;
    right: 2%;
    z-index: 1;
}

.r-arrow,.l-arrow{
    background:none;
    border:none;
    cursor:pointer;
}
.r-arrow:active,.l-arrow:active,.r-arrow:focus,.l-arrow:focus{
    outline: none;
}

.central {
    width: 1170px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}

.central-text {
    background: url(../img/central-img.png);
    width: 626px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 24px;
    font-weight: 300;
    /* Text style for "Lorem ipsu" */
    letter-spacing: 0.48px;
}

.background-about_company {
    background: url(../img/about_company-img.png) no-repeat center;
    height: 805px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about_company {
    width: 1170px;
    display: flex;
    height: 100%;
}

.about_company-text {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
}

.about_company_text_main {
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    padding-top: 40px;
    padding-right: 30px;
}

.action {
    display: flex;
    margin-top: 53px;
}

.button {
    background: #ebce73;
    width: 170px;
    height: 50px;
    border-radius: 5px;
    color: #282828;
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.button-o {
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 170px;
    height: 50px;
    border-radius: 5px;
    background-color: #cf5413;
    margin-left: 50px;
    border: none;
}

.footer-background {
    width: 100%;
    background-color: #282828;
    display: flex;
    justify-content: center;
}

.footer {
    width: 1170px;
    display: flex;
    justify-content: space-around;
}

.footer-info {
    height: 75px;
    display: flex;
    align-items: center;
}

.footer-info-text {
    padding-left: 4px;
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

.slick-prev {
    left: 0;
}

.slick-dots li button:before {
    color: #fff;
    opacity: 1;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #96af2c;
}
.slick-dotted.slick-slider {
    margin-bottom: 0px;
}
.tab-none{
    width: 100%;
    display:flex;
    justify-content: space-evenly;
}
.header-nav-contacts-number>img{
    width: 10px;
    height: 10px;
}
.menu-link{
  z-index:9;
  display:block;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius:50%;
  position:fixed;
  box-shadow: 1px 1px 10px rgba(0,0,0,.4);
  top:5px;
  z-index:11;
}
.menu-link span,.menu-link span:before,.menu-link span:after{
  display:block;
  height: 2px;
  width: 18px;
  background-color:#333;
  position:absolute;
  right: 50%;
  margin-right: -9px;
  top: 50%;
  margin-top: -1px;
  z-index:11;
}
.menu-link span:before{
  transition: all 0.2s;
  content:'';
  margin-top: -6px;
}
.menu-link span:after{
  transition: all 0.2s;
  content:'';
  margin-top: 4px;
}
.menu-link-active span{
  background: transparent;
}
.menu-link-active span:before{
  transform: rotate(135deg);
  margin-top: 0;
}
.menu-link-active span:after{
  transform: rotate(-135deg);
  margin-top: 0;
}
.menu{
  background:purple;
  position:fixed;
  width: 100%;
  height: 100%;
  z-index:10;
  display:flex;
  justify-content: center;
  align-items: center;
  right: -5000px;
  transition: all 2s;
  margin-top: -30px;
}
.menu ul{
  list-style:none;
  padding: 0;
  margin: 0;
  text-align:center;
}
.menu ul li{
  width: 100vw;
}
.menu a{
  display:block;
  width: 100%;
  line-height: 2;
  font-weight: 100;
  letter-spacing: 8px;
  color:#fff;
  text-decoration:none;
  transition: all 0.2s;
}
.menu a:hover{
  text-decoration:none;
  background-color: rgba(255,255,255,.4);
}
.menu-active{
  right:0px;
}
.burger{
    display:none;
}
.tab-item{
    display:flex;
}
@media(max-width: 1170px){
    .about_company{
        width: 100%;
    }
    .header-nav{
        width: 100%;
    }
    .about_company_text_main{
        padding-left:30px;
    }
    .action{
        padding-left: 30px;
    }
    .central{
        width: 100%;
    }
}
@media(max-width: 1024px){
    .about_company{
        width: 100%;
    }
    .about_company_text_main{
        padding-left:30px;
        font-size:14px;
    }
    .tab-none{
        display:none;
    }
    .action{
        padding-left: 30px;
        margin-top: 30px;
    }
    .burger{
        display:block;
    }
    .central{
        width: 100%;
    }
    .header{
        background: #fff;
        z-index: 5;
        width: 100%;
        position:fixed;
    }
}

@media(max-width: 768px){

}