* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}
.header {
  height: 60px;
}
.header-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1170px;
  margin: 0px auto 0px auto;
}
.header-nav-block {
  padding: 24px 0px 21px 0px;
}
.header-nav-block > a {
  color: #282828;
}
.header-nav-block>a:hover {
  padding-bottom: 7px;
  border-bottom: 1px solid #96af2c;
}
.header-nav-contacts {
  display: flex;
  flex-direction: column;
}
.header-nav-contacts-number {
  display: flex;
}
.header-nav-contacts-telephone {
  display: flex;
  justify-content: space-around;
}
.header-nav-contacts-telephone-lang {
  display: flex;
  align-items: center;
}
.header-nav-contacts-telephone-lang > img {
  width: 19px;
  height: 12px;
  margin: 0px 8px 0px 5px;
}
.main-background{
	background: url(../img/main-img.png) no-repeat;
	width: 100%;
	height: 802px;
}
.main-background-fff{
	background: url(../img/main-img.png) no-repeat;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.main-logo
{
	background: url(../img/main-white.png) no-repeat;
	width: 598px;
	height: 140px;
	opacity: 0.9;
	margin: 0px auto 0px auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main-text{
		/* Style for "Качество н" */
	color: #ffffff;
	font-family: "Roboto Condensed";
	font-size: 20px;
	font-weight: 400;
	background: url(../img/main-oli.png) no-repeat;
	margin: 0px auto 0px auto;
	width: 582px;
	height: 47px;
	text-align: center;
	display:flex;
	align-items:center;
	justify-content: center;
}
.mb{
	width: 100%;
	height: 804px;
}

.slick-track {
	height: 100%;
}
.slider{
	height: 100%;
	width: 100%;
}
.slider .item{
	background: url(../img/main-img.png) no-repeat;
}

.slider .item{
	height:800px;
	width: 100%;
	color:#fff;
	text-align:center;
}
.item{
	display:flex;
	justify-content: center;
	align-items:center;
	flex-direction: column;
}
.jjj{
	background: url(../img/main-white.png) no-repeat;
	width: 598px;
	height: 140px;
	display:flex;
	justify-content: center;
	align-items: center;
	margin:0px auto;
}
.jojo{
	height: 100%;
	width: 100%;
	display:flex;
	align-items:center;
	justify-content: center;
	flex-direction: column;
}
.slick-dots{
	margin-bottom: 62px;
}
.slick-next{
	background: #000;
}
.slider-slicker{
	position: absolute;
    z-index: 5;
    top: 50%;
    left: 15%;
}
.central{
	width: 1170px;
	display:flex;
	align-items: center;
	justify-content: center;
	margin: 40px 0;
}
.central-text{
	background:url(../img/central-img.png);
	width: 626px;
	height: 55px;
	display:flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	font-family: "Roboto Condensed";
	font-size: 24px;
	font-weight: 300;
	/* Text style for "Lorem ipsu" */
	letter-spacing: 0.48px;
}
.background-about_company{
	background: url(../img/about_company-img.png) no-repeat center;
	height: 805px;
	display:flex;
	align-items: center;
	flex-direction: column;
}
.about_company{
	width: 1170px;
	display:flex;

}
.about_company-text{
	width: 50%;
}
.about_company_text_main{
	color: #ffffff;
	font-family: "Roboto Condensed";
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	padding-top: 40px;
	padding-right: 30px;
}
.action{
	display:flex;
	margin-top:53px;
}
.button{
	width: 170px;
	height: 50px;
	border-radius: 5px;
	background-color: #ebce73;
	color: #282828;
	font-family: "Roboto Condensed";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	display:flex;
	justify-content: center;
	align-items: center;
	border:none;
}
.button-o{
	color: #ffffff;
	font-family: "Roboto Condensed";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	width: 170px;
	height: 50px;
	border-radius: 5px;
	background-color: #cf5413;
	margin-left: 50px;
	border:none;
}
.footer-background{
	width: 100%;
	background-color: #282828;
}
.footer{
	width: 1170px;
	display:flex;
	justify-content: space-around;
}
.footer-info{
	height: 75px;
	display: flex;
	align-items: center;
}
.footer-info-text{
	padding-left: 4px;
	color: #ffffff;
	font-family: "Roboto Condensed";
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
}
.slick-prev {
    left: 0;
}
.slick-dots li button:before {
	color:#fff;
	opacity: 1;
}
.slick-dots li.slick-active button:before
{
    opacity:1;
    color: #96af2c;
}
.slick-dotted.slick-slider
{
    margin-bottom: 0px;
}
/*# sourceMappingURL=style.css.map */
